#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


#modal-content {
  display: flex;
  width: 400px;
  /* Set width */
  height: 400px;
  /* Set height to the same value */
  background-color: #f5f2f2;
  /* Background color for the modal */

  /* Optional: Rounded corners */

  /* Optional: Internal padding */

}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

button {
  background-color: #ff5a5f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 3rem;
}

.error {
  color: red;
  margin-top: 5px;
}

form {
  display: flex;
  height: 7rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  justify-content: flex-start;
  height: 7rem;
  margin-top: 10rem;
}

.Log-in {
  display: flex;
  width: 20rem;
  height: 2rem;
  box-shadow: 3px 3px 10px black;
  border: solid 3px black;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

label {
  width: 20rem;

}

input {
  width: 17rem;
}

h1{
  display: flex;

}
.Log-in-text{
  display: flex;
}
